<article class="demo">
  <header>
    <h2>Ember Sortable</h2>
  </header>

  <main>
    <section class="vertical-demo">
      <h3>Vertical</h3>

      {{#sortable-group tagName="ol" onChange="update" onInsert="insert" onSortStart="sortstart" onSortEnd="sortend" as |group|}}
        {{#each model.items as |item|}}
          {{#sortable-item tagName="li" model=item group=group handle=".handle"}}
           

           <div> {{{item.label}}}
            <span class="handle" data-item="{{item}}">
              <span>&vArr;</span>
            </span>
            </div>

          {{#unless item.sorting}}
            <div style="padding-right:50px;font-size:12px">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis feugiat purus, et cursus mauris pulvinar eu. Fusce vel enim vel risus hendrerit fringilla ut eget velit. Vestibulum suscipit leo quis sapien dignissim porta. Duis fringilla ut ipsum et lobortis. Aliquam hendrerit enim eget erat dictum, eu scelerisque mi bibendum. Sed ullamcorper gravida arcu sit amet rhoncus. Nullam sagittis pulvinar erat id pulvinar. Suspendisse dignissim, sem eget vehicula consectetur, diam ante ultricies libero, non venenatis dui urna et massa.</p>

              <p>Etiam quis maximus est. Etiam nec urna auctor, fringilla nulla quis, posuere nibh. Aliquam ante augue, finibus eget condimentum eget, lobortis ut erat. Morbi maximus, lorem nec pulvinar ornare, elit eros eleifend velit, et ullamcorper odio elit eu ex. Vestibulum eget porttitor quam. Proin odio arcu, lobortis a rutrum et, lobortis ac mauris. Ut sollicitudin dictum ligula, a consequat neque condimentum vel.
              </p>
            </div>
          {{/unless}}
          {{/sortable-item}}
        {{/each}}
      {{/sortable-group}}
    </section>

    <section class="horizontal-demo-droptarget">
      <h3>These are draggable (not sortable). Drag them into the list above or below...</h3>

      {{#each model.picklist as |item|}}
        {{#draggable-item tagname="div" model=item}}
          {{{item.label}}} {{item.counter}}
        {{/draggable-item}}
      {{/each}}

    </section>

    <section class="vertical-demo-droptarget">
      <h3>Vertical just text...</h3>

      {{#sortable-group tagName="ol" onChange="update" onInsert="insert" as |group|}}
        {{#each model.items as |item|}}
          {{#sortable-item tagName="li" model=item group=group handle=".handle"}}
            <div>
              {{{item}}}
              <span class="handle" data-item="{{item}}">
                <span>&vArr;</span>
              </span>
            </div>
          {{/sortable-item}}
        {{/each}}
      {{/sortable-group}}
    </section>

    <section class="horizontal-demo">
      <h3>Horizontal</h3>

      {{#sortable-group tagName="ol" direction="x" onChange="update" onInsert="insert" as |group|}}
        {{#each model.items as |item|}}
          {{#sortable-item tagName="li" model=item group=group}}
            {{item-presenter item=item}}
          {{/sortable-item}}
        {{/each}}
      {{/sortable-group}}

    </section>


    <section class="horizontal-demo-droptarget">
      <h3>Horizontal just text...</h3>

      {{#sortable-group tagName="ol" direction="x" onChange="update" onInsert="insert" as |group|}}
        {{#each model.items as |item|}}
          {{#sortable-item tagName="li" model=item group=group}}
            {{item-presenter item=item}}
          {{/sortable-item}}
        {{/each}}
      {{/sortable-group}}

    </section>

    <section class="table-demo">
      <h3>Table</h3>

      <table>
        <thead>
          <tr>
            <th></th>
            <th>Item</th>
          </tr>
        </thead>
        {{#sortable-group tagName="tbody" onChange="update" onInsert="insert" as |group|}}
          {{#each model.items as |item|}}
            {{#sortable-item tagName="tr" model=item group=group handle=".handle"}}
              <td><span class="handle" data-item="{{item}}">&vArr;</span></td>
              <td>{{{item}}}</td>
            {{/sortable-item}}
          {{/each}}
        {{/sortable-group}}
      </table>
    </section>

    <section class="scrollable-demo">
      <h3>Scrollable</h3>

      <div class="sortable-container">
        {{#sortable-group tagName="ol" onChange="update" onInsert="insert" as |group|}}
          {{#each model.items as |item|}}
            {{#sortable-item tagName="li" model=item group=group handle=".handle"}}
              <div>
                {{{item}}}
                <span class="handle" data-item="{{item}}">
                  <span>&vArr;</span>
                </span>
              </div>
            {{/sortable-item}}
          {{/each}}
        {{/sortable-group}}
      </div>
    </section>

    {{#if model.dragged}}
      <p>Just dragged {{model.dragged}}</p>
    {{/if}}
  </main>

  <footer>
    <p>
      <a href="https://github.com/jgwhite/ember-sortable">View on GitHub</a>
    </p>
  </footer>

</article>
